// @import url("https://blokkfont-losgordos.netdna-ssl.com/v2/blokkfont.css")
*
  margin 0
  padding 0

/*
.blokk
  color #fff
  font-family 'BLOKK', sans-serif
*/

container(size)
  width size
  margin 0 auto

.container
  container(80%)

body
  font-family: 'Raleway', sans-serif
