@import url("https://blokkfont-losgordos.netdna-ssl.com/v2/blokkfont.css")
*
  margin 0
  padding 0

.blokk
  color #fff
  font-family 'BLOKK', sans-serif

body
  font-family: 'Raleway', sans-serif
  .container
    width 80%
    margin 0 auto
  header
    color #fff
    background rgb(43, 49, 60)
    height 70px
    display flex
    align-items center
    justify-content center
