@media (max-width: 980px)
  body
    font-size 20px
  .cards__cardLine
    flex-direction column
    .cards__card
      width 80% !important
      margin 20px auto
      .cards__cardFooter
        flex-direction column
        .cards__footerValue
          align-self flex-start
        .cards__footerRef
          margin-top 10px

  .news
    .news__form
      width 80%
  form
    button
      margin-top 20px !important
      width 100%
