@media (max-width: 980px)
  body
    font-size 20px
  .card-line
    flex-direction column
    .card
      width 80% !important
      margin 20px auto

  .news
    .news-form
      width 80%
  form
    button
      margin-top 20px !important
      width 100%
