.news
  h3
    text-align center
    margin 50px 0
  .news-form
    font-size 1.3em
    display flex
    width 40%
    margin 0 auto
    padding-bottom 80px
    form
      width 100%
      label
        margin-top 15px
        display block
      input
        font-size 1.1em
        padding 6px 12px
        box-sizing border-box
        display block
        width 100%
        outline none
      .submit-block
        text-align right
      button
        background #00796B
        outline none
        border none
        color #fff
        margin 15px 0
        font-size .8em
        padding 10px 12px
